@media (max-width: 600px) {
  .main h1 {
    font-size: 50px;
  }
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.targetword {
  color: white;
  transition-duration: 100ms;
  user-select: none;
}

.targetword:hover {
  color: #0087f5;
  text-shadow: 0 0 4px #0087f5;
  cursor: pointer;
  translate: 0 -2px;
}

/* mode: random phrase */

.phrasedisplay {
  display: flex;
  align-items: center;
}

.phrasedisplay h3 {
  margin-bottom: 5px;
}

.phrasedisplay img {
  cursor: pointer;
  transition-duration: 100ms;
}

.phrasedisplay img:hover {
  transform: scale(1.05);
  filter: brightness(120%);
}

.brokencontainer {
  display: block;
  justify-content: center;
  justify-items: center;
}

.brokenline {
  display: flex;
  margin-top: 5px;
  justify-content: center;
}

.translationword_container {
  position: absolute;
  top: 200px;
  margin-right: auto;
  margin-left: auto;
}

.translationword {
  color: rgb(171, 171, 171);
}

/* ========== */
