@media (max-width: 600px) {
  .main h1 {
    font-size: 50px;
  }
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.targetword {
  color: white;
  transition-duration: 100ms;
  user-select: none;
}

.targetword:hover {
  color: #0087f5;
  text-shadow: 0 0 4px #0087f5;
  cursor: pointer;
  translate: 0 -2px;
}

/* mode: random phrase */

.phrasedisplay {
  display: flex;
  align-items: center;
}

.phrasedisplay h3 {
  margin-bottom: 5px;
}

.phrasedisplay img {
  cursor: pointer;
  transition-duration: 100ms;
}

.phrasedisplay img:hover {
  transform: scale(1.05);
  filter: brightness(120%);
}

.brokencontainer {
  display: block;
  justify-content: center;
  justify-items: center;
}

.brokenline {
  display: flex;
  margin-top: 5px;
  justify-content: center;
}

.translationword_container {
  position: absolute;
  top: 200px;
  margin-right: auto;
  margin-left: auto;
}

.translationword {
  color: rgb(171, 171, 171);
}

/* ========== */

.drawer {
  height: 100vh;
  width: 25rem;
  background-color: white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  position: absolute;
  display: flex;
  z-index: 2;
  right: 0px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: block;
}

.drawer h2 {
  color: black;
  margin-left: 20px;
  margin-top: 10px;
}

.drawer h4 {
  color: rgb(100, 100, 100);
  margin-left: 10px;
  align-self: center;
}

.drawerHeader {
  display: flex;
  vertical-align: middle;
  height: 80px;
  width: 100%;
}

.drawerBody {
  display: block;
  width: 100%;
  color: black;
  padding: 20px;
}

.drawerBody p {
  text-justify: inter-word !important;

  font-weight: 500;
  font-size: large;
}

.drawerDef h4 {
  margin: 0;
  color: #008cff;
  text-shadow: 0 0 4px #0076d721;
}

.drawerDef {
  color: black;
}
