@media (max-width: 600px) {
  .main h1 {
    font-size: 50px;
  }
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.targetword {
  color: white;
  transition-duration: 100ms;
}

.targetword:hover {
  color: #0087f5;
  text-shadow: 0 0 4px #0087f5;
  cursor: pointer;
  translate: 0 -2px;
}
